@keyframes bubbleUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        transform: translate(4rem, 0);
    }

    50% {
        opacity: 0.75;
    }

    100% {
        top: 0;
        opacity: 0;
        transform: translate(0, 0);
    }
}

@keyframes beat {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

@keyframes flip-with-rotate {
    0% {
        transform: perspective(400px) rotateY(0);
    }

    100% {
        transform: perspective(400px) rotateY(180deg);
    }
}

:root {
    --primary-theme-color: rgb(255, 122, 144);
    --primary-background-color: white;
    --primary-text-color: black;
    --secondary-text-color: #878787;
    --dark-primary-text-color: #f7f8f9;
    --primary-shadow-color: #00000080;
    --primary-font-family: 'Lovers Quarrel', cursive;
    --secondary-font-family: 'DynaPuff', cursive;
    --element-size: 0.875rem;
    --element-spacing: 2rem;
    --border-radius: 1rem;
    --transition-duration: 0.25s;
}

@media (width >=768px) {
    :root {
        --element-size: 1rem;
        --element-spacing: 1.75rem;
    }
}

.body {
    margin: 0;
    background-image: url(https://wallpapercave.com/wp/wp2928112.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--primary-text-color);
    font-size: var(--element-size);
    font-family: var(--primary-font-family);
}

.main {
    overflow: hidden;
}

.header {
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-background-color);
    box-shadow: 0 0 calc(var(--element-size) * 0.125) calc(var(--element-size) * 0.0625) var(--primary-shadow-color);
}

.header-nav {
    padding-top: calc(var(--element-spacing) * 0.5);
    padding-bottom: calc(var(--element-spacing) * 0.5);
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.hero::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-theme-color);
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 100%;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-theme-color);
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list.list--header-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-shadow-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-duration);
}

@media (width >=768px) {
    .list.list--header-menu {
        position: static;
        background-color: initial;
        opacity: 1;
        pointer-events: auto;
    }
}

@media (width < 768px) {
    .list.list--header-menu .button1 {
        color: var(--dark-primary-text-color);
    }
}

.list.list--header-menu:target {
    opacity: 1;
    pointer-events: auto;
}


















.hero__bubble-container {
    background-color: transparent;
    pointer-events: none;
}

.hero__bubble {
    position: absolute;
    background-image: url("https://i.postimg.cc/CM7286Pq/Corazones-1-removebg-preview.png");
    background-size: cover;
    animation: bubbleUp 3s linear infinite;
}

.hero__bubble:nth-child(1) {
    width: 6rem;
    height: 5rem;
    left: 10%;
    animation-delay: -3s;
}

.hero__bubble:nth-child(2) {
    width: 8.5rem;
    height: 7.5rem;
    left: 20%;
    animation-delay: -2.5s;
}

.hero__bubble:nth-child(3) {
    width: 3.5rem;
    height: 3.0rem;
    left: 30;
    animation-delay: -2s;
}

.hero__bubble:nth-child(4) {
    width: 6rem;
    height: 5rem;
    left: 40%;
    animation-delay: -1.5s;
}

.hero__bubble:nth-child(5) {
    width: 8.5rem;
    height: 7.5rem;
    left: 50%;
    animation-delay: -1s;
}

.hero__bubble:nth-child(6) {
    width: 3.5rem;
    height: 3.0rem;
    left: 60%;
    animation-delay: -1.5s;
}

.hero__bubble:nth-child(7) {
    width: 6rem;
    height: 5rem;
    left: 70%;
    animation-delay: -2s;
}

.hero__bubble:nth-child(8) {
    width: 8.5rem;
    height: 7.5rem;
    left: 80%;
    animation-delay: -1s;
}

.hero__bubble:nth-child(9) {
    width: 3.5rem;
    height: 3.0rem;
    left: 90%;
    animation-delay: -0.5s;
}





















.card .card__body {
    display: flex;
    flex-direction: column;
    gap: calc(var(--element-spacing) * 0.25);
}

.card .card__title {
    margin: 0;
    font-size: calc(var(--element-size) * 1.25);
}

.card .card__subtitle {
    margin: 0;
    color: var(--secondary-text-color);
    font-size: calc(var(--element-size) * 1.125);
}

.card .card__text {
    margin: 0;
    font-size: calc(var(--element-size) * 3);
    font-weight: 700;
}

.icon {
    color: var(--primary-text-color);
    font-size: calc(var(--element-size) * 2);
    text-decoration: none;
}

.icon i {
    display: flex;
}

.img {
    display: block;
    object-fit: cover;
    scale: 175%;
}








.img.img--logo {
    
    width: calc(var(--element-size) * 3);
    height: calc(var(--element-size) * 3);
    width: 100%;
    animation: flip-with-rotate 1s ease-in-out 0s infinite alternate;
}









.img.img--cover {
    width: calc(var(--element-size) * 16);
    height: auto;
    animation: beat 1s ease-in-out 0s infinite alternate;
}

.button1 {
    padding: 0.25em 1em;
    border-radius: calc(var(--border-radius) * 2);
    color: inherit;
    font-size: calc(var(--element-size) * 2);
    font-weight: 600;
    text-decoration: none;
    transition: background-color var(--transition-duration), box-shadow var(--transition-duration), color var(--transition-duration);
}

.button1.button--active,
.button1:hover {
    background-color: var(--primary-theme-color);
    box-shadow: 0 0 calc(var(--element-size) * 0.125) calc(var(--element-size) * 0.0625) var(--primary-theme-color);
    color: var(--dark-primary-text-color);
}

.container {
    max-width: 1024px;
    padding-right: calc(var(--element-spacing) * 0.5);
    padding-left: calc(var(--element-spacing) * 0.5);
    margin: 0 auto;
}

.flexbox {
    display: flex;
}

.flexbox.flexbox--center {
    place-items: center;
    place-content: center;
}

.flexbox.flexbox--centered-sides {
    align-items: center;
    justify-content: space-between;
}

.flexbox .flexbox--responsive {
    flex-direction: column;
}

@media (width >=768px) {
    .flexbox .flexbox--responsive {
        flex-direction: row;
    }
}










.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: auto;
    gap: 10px;
    background-color: var(--primary-theme-color);
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 500px;
  }

  .item1 {
    display: flex;
    align-items: center;
    

  }
  .item2 {
    display: flex;
    align-items: center;

  }
  .item3 {
    display: flex;
    align-items: center;

  }
  .item4 {
    display: flex;

  }
  .item5 {
    display: flex;

  }
  .item6 {
    display: flex;

  }
  .item7 {
    display: flex;


  }
  .item8 {
    display: flex;

  }
  .item9 {
    display: flex;

  }









.flip-box1 {
    margin-left: 25px;
}
.flip-box2 {
    margin-left: 25px;
}
.flip-box3 {
    margin-left: 25px;
}
.flip-box4 {
    margin-left: 75px;
}
.flip-box5 {
    margin-left: 25px;
}
.flip-box6 {
    margin-left: 75px;
}
.flip-box7 {
    margin-left: 75px;
}
.flip-box8 {
    margin-left: 25px;
}
.flip-box9 {
    margin-left: 75px;
}



  /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;

    width: 400px;
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }


  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: transparent;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
  }


















  





.g-layout {
    display: grid;
}

.g-layout.g-layout--center {
    place-items: center;
    place-content: center;
}

@media (width >=768px) {
    .g-layout.md\:g-layout--1fr-1fr {
        grid-template-columns: 1fr 1fr;
    }
}

.c-primary {
    color: var(--primary-theme-color);
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.g-5xs {
    gap: calc(var(--element-spacing) * 0.25);
}

.g-md {
    gap: var(--element-spacing);
}

@media (width >=768px) {
    .md\:d-none {
        display: none;
    }

    .md\:d-block {
        display: block;
    }
}

































@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*,*:before,*:after{outline:0;-webkit-box-sizing:border-box;box-sizing:border-box;}
input,button{outline:none;}
a,a:hover,a:visited{color:#000000;text-decoration:none;}
.flex{display:-webkit-flex;display:flex;}
.flex-wrap{display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.flex-align{-webkit-align-items:center;align-items:center;}
.w-full{width:100%;}

/* HTML5 Audio Player with Playlist, source: https://codepen.io/sekedus/pen/ExxjZEz */
#simp button,#simp input,#simp img{border:0;}
#simp{max-width:600px;font-size:14px;font-family:"Segoe UI", Tahoma, sans-serif;text-align:initial;line-height:initial;background:#17212b;color:#ddd;margin:0 auto;border-radius:6px;overflow:hidden;}
#simp .simp-album{padding:20px 25px 5px;}
#simp .simp-album .simp-cover{margin-right:20px;}
#simp .simp-album .simp-cover img{max-width:80px;width:100%;margin:0;padding:0;display:block;}
#simp .simp-album .simp-title{font-size:120%;font-weight:bold;}
#simp .simp-album .simp-artist{font-size:90%;color:#6c7883;}
#simp .simp-controls{padding:15px;}
#simp .simp-controls button{font-size:130%;width:32px;height:32px;background:none;color:#ddd;padding:7px;cursor:pointer;border:0;border-radius:3px;}
#simp .simp-controls button[disabled]{color:#636469;cursor:initial;}
#simp .simp-controls button:not([disabled]):hover{background:#4082bc;color:#fff;}
#simp .simp-controls .simp-prev,#simp .simp-controls .simp-next{font-size:100%;}
#simp .simp-controls .simp-tracker,#simp .simp-controls .simp-volume{flex:1;margin-left:10px;position:relative;}
#simp .simp-controls .simp-buffer {position:absolute;top:50%;right:0;left:0;height:5px;margin-top:-2.5px;border-radius:100px;}
#simp .simp-controls .simp-loading .simp-buffer {-webkit-animation:audio-progress 1s linear infinite;animation:audio-progress 1s linear infinite;background-image: linear-gradient(-45deg, #000 25%, transparent 25%, transparent 50%, #000 50%, #000 75%, transparent 75%, transparent);background-repeat:repeat-x;background-size:25px 25px;color:transparent;}
#simp .simp-controls .simp-time,#simp .simp-controls .simp-others{margin-left:10px;}
#simp .simp-controls .simp-volume{max-width:110px;}
#simp .simp-controls .simp-volume .simp-mute{margin-right:5px;}
#simp .simp-controls .simp-others .simp-active{background:#242f3d;}
#simp .simp-controls .simp-others .simp-shide button{font-size:100%;padding:0;width:24px;height:14px;display:block;}
#simp .simp-controls input[type=range]{-webkit-appearance:none;background:transparent;height:19px;margin:0;width:100%;display:block;position:relative;z-index:2;}
#simp .simp-controls input[type=range]::-webkit-slider-runnable-track{background:rgba(183,197,205,.66);height:5px;border-radius:2.5px;transition:box-shadow .3s ease;position:relative;}
#simp .simp-controls input[type=range]::-moz-range-track{background:rgba(183,197,205,.66);height:5px;border-radius:2.5px;transition:box-shadow .3s ease;position:relative;}
#simp .simp-controls .simp-load .simp-progress::-webkit-slider-runnable-track{background:#2f3841;}
#simp .simp-controls .simp-load .simp-progress::-moz-range-track{background:#2f3841;}
#simp .simp-controls .simp-loading .simp-progress::-webkit-slider-runnable-track{background:rgba(255,255,255,.25);}
#simp .simp-controls .simp-loading .simp-progress::-moz-range-track{background:rgba(255,255,255,.25);}
#simp .simp-controls input[type=range]::-webkit-slider-thumb{-webkit-appearance:none;background:#fff;height:13px;width:13px;margin-top:-4px;cursor:pointer;border-radius:50%;box-shadow:0 1px 1px rgba(0,0,0,.15), 0 0 0 1px rgba(47,52,61,.2);}
#simp .simp-controls input[type=range]::-moz-range-thumb{-webkit-appearance:none;background:#fff;height:13px;width:13px;cursor:pointer;border-radius:50%;box-shadow:0 1px 1px rgba(0,0,0,.15), 0 0 0 1px rgba(47,52,61,.2);}
#simp .simp-footer{padding:10px 10px 12px;font-size:90%;text-align:center;opacity:.7;}
#simp .simp-display{overflow:hidden;max-height:650px;transition:max-height .5s ease-in-out;}
#simp .simp-hide{max-height:0;}
/* playlist */
#simp ul{margin:5px 0 0;padding:0;list-style:none;max-height:245px;}
#simp ul li{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;margin:0;padding:8px 20px;cursor:pointer;}
#simp ul li:last-child{padding-bottom:13px;}
#simp ul li:nth-child(odd){background:#0e1621;}
#simp ul li:hover{background:#242f3d;}
#simp ul li.simp-active{background:#4082bc;color:#fff;}
#simp ul li .simp-desc{font-size:90%;opacity:.5;margin-left:5px;}
/* playlist scrollbar */
#simp ul{overflow-y:auto;overflow-x:hidden;scrollbar-color:#73797f #2f3841;}
#simp ul::-webkit-scrollbar-track{background-color:#2f3841;}
#simp ul::-webkit-scrollbar{width:6px;background-color:#2f3841;}
#simp ul::-webkit-scrollbar-thumb{background-color:#73797f;}
/* progress animation */
@-webkit-keyframes audio-progress{to{background-position:25px 0;}}
@keyframes audio-progress{to{background-position:25px 0;}}
/* mobile */
@media screen and (max-width:480px) {
#simp .simp-controls .simp-volume,#simp .simp-controls .simp-others{display:none;}
#simp .simp-controls .simp-time{margin-right:10px;}
}
@media screen and (max-width:370px) {
#simp .simp-time .simp-slash,#simp .simp-time .end-time{display:none;}
}